<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Интернет-магазин  SteamGamer(Стимгеймер). Здесь Вы можете купить лицензионные ключи активации, ключи для STEAM, Origin, Uplay и Battle.net. Купить ключи для STEAM по выгодной цене, со скидкой">
	<meta name="keywords" content="купить компьютерные игры, магазин игр, магазин компьютерных игр, лицензионные игры, стимгеймер, купить ключ активации, купить steam, скачать русификатор, купить инди игры, steam игры, купить ключи steam, купить игры на пк, купить ключ стим, магазин steam, магазин стим, ключи со скидкой, купить стим со скидкой, скидки на ключи">
	<title>SteamGamer.ru Интернет магазин. Лицензионные игры, купить ключи Steam, Origin, Uplay со скидкой</title>
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<link href="main.css" rel="stylesheet">
	<link rel="stylesheet" href="jquery.fancybox.css" media="screen" />
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>
<body>
<header>
	<nav class="navbar navbar-default navbar-inverse">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>

			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li class="active"><a href="#">Главная</a></li>
					<li><a href="#">Гарантии</a></li>
					<li><a href="#">Отзывы</a></li>
					<li><a href="#">Скидка</a></li>
					<li><a href="#">Как покупать?</a></li>
					<li><a href="#">Помощь</a></li>
				</ul>

				<ul class="nav navbar-nav navbar-right">
					<li class="hidden-xs"><a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Корзина
						<span class="badge">4</span></a></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
							Валюта <i class="fa fa-rub del" aria-hidden="true"></i>
							<span id="currency" class="caret"></span></a>
						<ul class="dropdown-menu">
							<li id="rub"><a href="#"><i class="fa fa-rub" aria-hidden="true"></i> Рубли </a></li>
							<li id="usd"><a href="#"><i class="fa fa-usd" aria-hidden="true"></i> Доллары </a></li>
							<li id="uah"><a href="#"><i class="uah">₴</i> Укр. Гривны </a></li>
						</ul>
					</li>
				</ul>
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container -->
	</nav>
	<div class="container main row">
		<div class="col-sm-3 col-md-3 col-lg-3 logo">
			<a href="#"><img class="img-responsive" src="images/logo.png"></a>
		</div>
		<div class="col-sm-5 col-md-5 col-lg-6 search">
			<form class="form-top-search" action="">
				<input id="search" class="form-control" autocomplete="off" placeholder="Поиск среди 2700 товаров">
				<button class="btn-search"><i class="fa fa-search" aria-hidden="true"></i></button>

				<div id="header_search" class="live_search">

					<a href="#">
						<div class="result">
							<div class="preview pull-left">
								<img src="images/GTA5_110x52.png" class="img-responsive">
							</div>
							<div class="item_name pull-left">
								<p>Grand Theft Auto V + GTA: Online</p>
							</div>
							<div class="item_price pull-right">
								<span>1699</span> <span class="valuta">руб</span>
							</div>
						</div>
					</a>
					<hr>
					<a href="#">
						<div class="result">
							<div class="preview pull-left">
								<img src="images/GTA4_110x52.png" class="img-responsive">
							</div>
							<div class="item_name pull-left">
								<p>Grand Theft Auto 4</p>
							</div>
							<div class="item_price pull-right">
								<span>249</span> <span class="valuta">руб</span>
							</div>
						</div>
					</a>
					<hr>
					<a href="#">
						<div class="result">
							<div class="preview pull-left">
								<img src="images/prey_110x52.png" class="img-responsive">
							</div>
							<div class="item_name pull-left">
								<p>Prey</p>
							</div>
							<div class="item_price pull-right">
								<span>1100</span> <span class="valuta">руб</span>
							</div>
						</div>
					</a>
					<hr>
					<a href="#">
						<div class="result">
							<div class="preview pull-left">
								<img src="images/skyrim_110x52.png" class="img-responsive">
							</div>
							<div class="item_name pull-left">
								<p>The Elder Scrolls V: Skyrim – Legendary Edition</p>
							</div>
							<div class="item_price pull-right">
								<span>499</span> <span class="valuta">руб</span>
							</div>
						</div>
					</a>
				</div>
			</form>
		</div>
		<div class="col-sm-4 col-md-4 col-lg-3 buttons">
			<div class="btn-group">
				<button class="hidden-lg hidden-md hidden-sm cart">
					<i class="fa fa-shopping-cart" aria-hidden="true"></i> Корзина <span class="badge">4</span></button>
				<button class="login">Вход</button>
				<button class="reg">Регистрация</button>
			</div>
		</div>
	</div>
</header>

<!--Окончание модуля header-->
<div class="container main product_card">
	<div class="row goods_head">
		<div class="col-sm-6 col-md-6 col-lg-6">
			<ol class="breadcrumb">
				<li><a href="#">Главная</a></li>
				<li><a href="#">Каталог</a></li>
				<li class="active">Игры</li>
			</ol>
			<h2>Купить Prey</h2>
			<img src="images/Prey_500x250.jpg" alt="Prey" class="img-responsive header_pic">
		</div>
		<div class="col-sm-3 col-md-3 col-lg-3">
			<ul class="game_info">
				<li>
					<span>Жанр:</span>
					<a href="#">Экшен</a>,
					<a href="#">Приключения</a>
				</li>
				<li><span>Издатель:</span> Bethesda Softworks</li>
				<li><span>Дата выхода:</span> 5 мая 2017</li>
				<li><span>Язык:</span> Русский</li>
				<li><span>Активация:</span> <img src="images/steamlogo.png" id="logo_brand"> Steam</li>
			</ul>
		</div>
		<div class="col-sm-3 col-md-3 col-lg-3 header_right">
			<div class="price_info">
				<div class="header_price">
					<span id="price">1999 </span><span class="valuta">руб</span>
					<div class="header_discount pull-right">
						<span>-50%</span>
					</div>
				</div>

				<button class="buy">Купить</button>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-8 col-md-8 col-lg-8 col_left">
			<div class="inner">
				<div>
					<a class="goods_info" data-toggle="collapse" href="#collapseGameInfo" aria-expanded="true" aria-controls="collapseExample">
						<i class="fa fa-minus" aria-hidden="true"></i> Информация о игре
					</a>
					<div class="collapse in" id="collapseGameInfo">
						<div class="well description">
							<p>Действие Prey происходит в 2032 году. Вы обнаруживаете себя на лунной орбите, на борту
								космической станции «Талос-1». Эксперимент, в котором вы участвовали, должен был
								навсегда изменить человеческую расу, но привел к катастрофическим последствиям. Станцию
								захватили враждебные пришельцы, которые теперь ведут на вас охоту. Раскрывая мрачные
								тайны «Талоса» и собственного прошлого, вам предстоит выживать, полагаясь на подручные
								средства, собственную смекалку, оружие и сверхспособности. Судьба «Талоса-1» и всех, кто
								находится на борту, — в ваших руках.</p>
						</div>
					</div>
				</div>
				<div>
					<a class="goods_info" data-toggle="collapse" href="#collapseSustemReqire" aria-expanded="true" aria-controls="collapseExample">
						<i class="fa fa-minus" aria-hidden="true"></i> Минимальные системные требования:
					</a>
					<div class="collapse in" id="collapseSustemReqire">
						<div class="well description">
							<table class="table table-striped">
								<tbody>
								<tr>
									<td>OC:</td>
									<td> Windows 7/8/10 (64-bit versions)</td>
								</tr>
								<tr>
									<td>Процессор:</td>
									<td> Intel i5-2400, AMD FX-8320</td>
								</tr>
								<tr>
									<td>Оперативная Память:</td>
									<td> 8 GB ОЗУ</td>
								</tr>
								<tr>
									<td>Видеокарта:</td>
									<td> GTX 660 2GB, AMD Radeon 7850 2GB</td>
								</tr>
								<tr>
									<td>Жесткий диск:</td>
									<td> 20 ГБ</td>
								</tr>
								</tbody>
							</table>
						</div>
					</div>
					<div>
						<a class="goods_info" data-toggle="collapse" href="#collapseInstruction" aria-expanded="true" aria-controls="collapseExample">
							<i class="fa fa-plus" aria-hidden="true"></i> Инструкция по активации:
						</a>
						<div class="collapse" id="collapseInstruction">
							<div class="well description">
								<ul class="instuction">
									<li>Получите оплаченный ключ активации в личном кабинете.</li>

									<li>Если не установлен Steam клиент, Вам необходимо скачать его с официального
										сайта (<a href="http://store.steampowered.com/about/" target="_blank">http://store.steampowered.com/about/</a>)
										и установить.
									</li>

									<li>Войдите в свой фккаунт Steam (если он у Вас уже есть), либо создайте новую
										учетную запись
									</li>

									<li>В меню «Игры» выбирайте пункт «Активировать через Steam». В открывшееся окошке
										вводите полученный код.
									</li>

									<li>После активации ключа, игра отобразится в библиотеке Steam и вы сможете её
										скачать.
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-4 col-md-4 col-lg-4 col_right">
			<div class="inner">
				<!--Рекламные блоки 170x220px-->
				<div class="adv">
					<a href="#"><img src="images/prey_banner.jpg" alt="Купить Prey за 999р"></a>
					<a href="#"><img src="images/rust_bunner.jpg" alt="Купить Rust за 295р"></a>
				</div>
				<span class="goods_info">Скриншоты</span>
				<div class="galery">
					<div class="galery_image">
						<a href="images/prey1.jpg" class="fancyimage" data-fancybox-group="group"><img src="images/prey_prev1_155x87.jpg" class="img-responsive"></a>
					</div>
					<div class="galery_image">
						<a href="images/prey2.jpg" class="fancyimage" data-fancybox-group="group"><img src="images/prey_prev2-155x87.jpg" class="img-responsive"></a>
					</div>
					<div class="galery_image">
						<a href="images/prey3.jpg" class="fancyimage" data-fancybox-group="group"><img src="images/prey_prev3-155x87.jpg" class="img-responsive"></a>
					</div>
					<div class="galery_image">
						<a href="images/prey4.jpg" class="fancyimage" data-fancybox-group="group"><img src="images/prey_prev4-155x87.jpg" class="img-responsive"></a>
					</div>
					<div class="galery_image">
						<a href="images/prey5.jpg" class="fancyimage" data-fancybox-group="group"><img src="images/prey_prev5-155x87.jpg" class="img-responsive"></a>
					</div>
					<div class="galery_image">
						<a href="images/prey6.jpg" class="fancyimage" data-fancybox-group="group"><img src="images/prey_prev6-155x87.jpg" class="img-responsive"></a>
					</div>
					<div class="galery_image">
						<a href="images/prey7.jpg" class="fancyimage" data-fancybox-group="group"><img src="images/prey_prev7-155x87.jpg" class="img-responsive"></a>
					</div>
					<div class="galery_image">
						<a href="images/prey8.jpg" class="fancyimage" data-fancybox-group="group"><img src="images/prey_prev8-155x87.jpg" class="img-responsive"></a>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>


<!--Модуль футер-->
<footer>
	<div class="container main">
		<div class="row footer_link">
			<div class="col-sm-3 col-md-3 col-lg-3 hidden-xs">
				<img class="img-responsive" src="images/logo.png">
			</div>
			<div class="col-xs-4 col-sm-3 col-md-3 col-lg-3">
				<ul>
					<li><a href="#">Главная</a></li>
					<li><a href="#">Гарантии</a></li>
				</ul>
			</div>
			<div class="col-xs-4 col-sm-3 col-md-3 col-lg-3">
				<ul>
					<li><a href="#">Отзывы</a></li>
					<li><a href="#">Скидки</a></li>
				</ul>
			</div>
			<div class="col-xs-4 col-sm-3 col-md-3 col-lg-3">
				<ul>
					<li><a href="#">Как покупать?</a></li>
					<li><a href="#">Помощь</a></li>
				</ul>
			</div>
		</div>
		<div class="pay_types pay">
			<img class="img-responsive" src="images/WMZ.png">
			<img class="img-responsive" src="images/BTC.png">
			<img class="img-responsive" src="images/QSR.png">
			<img class="img-responsive" src="images/PCR.png">
			<img class="img-responsive" src="images/RCC.png">
			<img class="img-responsive" src="images/MTS.png">
			<img class="img-responsive" src="images/BLN.png">
			<img class="img-responsive" src="images/MGF.png">
			<img class="img-responsive" src="images/TL2.png">
			<img class="img-responsive" src="images/RUB.png">
			<img class="img-responsive" src="images/BNK.png">
			<img class="img-responsive" src="images/PRR.png">
			<img class="img-responsive" src="images/PPZ.png">
		</div>
		<div class="disclamer">
			<span>SteamGamer.ru © 2016-2017. Все права защищены</span>
			<p>Все названия продуктов, компаний и марок, логотипы и товарные знаки являются собственностью
				соответствующих владельцев. Этот сайт не был одобрен Корпорацией Valve и не аффилирован с Корпорацией
				Valve или ее лицензиаров.
				Все продаваемые ключи закупаются у официальных дилеров, работающих напрямую с издателями.</p>
		</div>
	</div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script type="text/javascript" src="jquery.fancybox.pack.js"></script>
<script src="jquery.mousewheel.pack.js"></script>
<script src="jquery-ui.min.js"></script>
<script src="js/jquery.ui.touch-punch.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="scroll.js"></script>
<script src="js/main.js"></script>
<script type="text/javascript">
	$(document).ready(function() {
		$("a.fancyimage").fancybox();
	});
</script>
</body>
</html>